// lightmode styleguide colors =========================================================
$deepgreen: #007C74; // header, filter panel btn
$green: #98C7A4; // villager cont 
$lightgreen: #D4ECD3; // villager cont 

$blue: #A4D8D4; // villager cont 
$lightblue: #DEF1EE; // villager cont 
$mintcream: #F2FAF9; // settings cont

$brown: #86765C; // speech bubble text
$staryellow: #F7D359; // star yellow
$yellow: #F8EEBB; // villager cont
$lightyellow: #FCF8E4; // villager cont

$pink: #FEBDC3; // villager cont
$lightpink: #FFE6E8; // villager cont

$darkgrey: #474747; // text
$grey: #808080; // search bar icons
$lightgrey: #F5F5F5; // search bar


// darkmode styleguide colors =========================================================



// media query breakpoints ============================================================
