        .FilterPanelCont {
            box-sizing: border-box;
            width: 100%;
            max-width: 330px;
            padding: 20px;
            border-radius: 20px;
            filter: drop-shadow(3px 4px 9px rgba(0, 0, 0, 0.07));
        }

        .FilterSection {
            margin-bottom: 24px;
        }