.FilterPanelCont {
    box-sizing: border-box;
    margin: 24px;
    padding: 24px;
    max-width: 425px;
    border-radius: 20px;
    height: 500px;
    background-color: white;
    filter: drop-shadow(3px 4px 9px rgba(0, 0, 0, 0.07));

    h5 {
        color: $deepgreen;
    }
}

.FilterSection {
    margin-bottom: 24px;
}