// font imports ======================================================================
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

// page scss, variables imports ======================================================
@import './variables/general.scss';
@import './components/Header.scss';
@import './components/BottomNav.scss';


// component scss imports ============================================================
  // import any components here plz ~~~~~~  
// @import './components/BlankFile.scss';


@import './components/SearchBar.scss';
@import './components/FilterPanel.scss';
@import './components/FilterButton.scss';

// containers, removing defaults =====================================================
* {
  margin: 0;
  padding: 0;
}

html, #__next, body {
  // overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
}
body {
  margin-bottom: 100px;
}

// text styleguide ====================================================================
h1, h2, h3, h4, h5, h6,
span, label, pre, li,
p, a, button, input { 
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  line-height: 0.75;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1 { font-size: 60px; }
h2 { font-size: 48px; }
h3 { font-size: 40px; }
h4 { font-size: 36px; }
h5 { font-size: 30px; }
h6 { font-size: 26px; }

p, a, label, button, input
{ font-size: 26px; }


// media queries =====================================================================
